<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>天气预报</title>
    <style>
        .title {
            text-align: center;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #eee;
            margin: 0 auto;
        }
        
        .table thead {
            background: #40B8FA;
            color: #fff;
        }

        .table td, .table th {
            height: 40px;
            line-height: 40px;
            text-align: center;
            white-space: nowrap;
        }


    </style>
</head>
<body>
<div class="title">
    <h1>
        上海最近7日天气预报
    </h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th>日期</th>
        <th>天气状态</th>
        <th>最高气温</th>
        <th>最低气温</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entries,stat:${resultList}">
        <td th:text="${entries['date']}"></td>
        <td th:text="${entries['status']}"></td>
        <td th:text="${entries['max']}"></td>
        <td th:text="${entries['min']}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>