<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffold.test.mapper.FxRateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scaffold.test.entity.FxRate">
        <id column="id" property="id" />
        <result column="source" property="source" />
        <result column="rate_date" property="rateDate" />
        <result column="rate" property="rate" />
        <result column="sell_ccy" property="sellCcy" />
        <result column="buy_ccy" property="buyCcy" />
        <result column="ccy_type" property="ccyType" />
        <result column="ccy_pair" property="ccyPair" />
        <result column="flag" property="flag" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, source, rate_date, rate, sell_ccy, buy_ccy, flag, create_time, ccy_type, ccy_pair
    </sql>

    <insert id="insertRate">
        replace into fx_rate
        (source, rate_date, rate, sell_ccy, buy_ccy, flag, ccy_type, ccy_pair)
        values
        (#{source}, #{rateDate}, #{rate}, #{sellCcy}, #{buyCcy}, #{flag}, #{ccyType}, #{ccyPair})
    </insert>

</mapper>
