<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scaffold.test.mapper.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.scaffold.test.entity.Job">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="position" property="position"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, age, position,
        DATE_FORMAT(create_time, '%Y-%m-%d %H:%i:%s') as create_time
    </sql>

    <insert id="insertJob">
        insert into job
        (name, age, position)
        values
        (#{name}, #{age}, #{position})
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from job
    </select>

    <update id="updateJob">
        update job set
        name = #{name},
        age = #{age},
        position = #{position}
    </update>

    <delete id="deleteJobById">
        delete from job
        where id = #{id}
    </delete>

</mapper>
